# Dependencias de Node.js
node_modules/

# Archivos de log
logs/
*.log

# Archivos de configuración
.env

# Dependencias instaladas mediante npm
package-lock.json

# Archivos generados en el proceso de construcción
dist/
build/

# Otras Carpetas
logs/