
<h1>HOME</h1>
<br>
<h2>Productos</h2>
<hr>
<ul>
    <strong>Productos:</strong>
  {{#each product}}
  <li>
    <ul>
      {{#each this}}
        <li>{{@key}}: {{this}}</li>
      {{/each}}
    </ul>
  </li>
  {{/each}}
</ul>
<br>
<br>
<a href="/realtimeproducts">Products socketIo</a>
<a href="/chat">Chat</a>

