<h2> E-Task tu App de ventas </h2>
<hr>


<div id="productsSocket">


</div>

<hr>




<a href="/producto">Productos</a>

<script src="socket.io/socket.io.js"></script>
<script src="/realtimeproducts.js"></script>
